<link rel="stylesheet" href="/css/books.css">
<h1><%= title %></h1>

<ul class="bookList">
  <% books.forEach(book => { %>
    <li class="bookItem">
      <div class="bookTitle"><%= book.title %></div>
      <div class="bookAuthor">Author: <%= book.author %></div>
      <div class="bookISBN">ISBN: <%= book.isbn %></div>
      <div class="bookSubject">Subject: <%= book.subject %></div>
      <div class="bookPrice">Price: $<%= book.price %></div>
      <p>
        <% if (user) { %>
          <button id="addCartButton"> Add to cart</button>
        <% } else { %>
          <p> Login to add to cart</p>
        <% } %>
      </p>
    </li>
  <% }) %>
</ul>

<div class="pagination">
  <% if (currentPage > 1) { %>
    <a href="/books?page=<%= currentPage - 1 %>">⬅ Previous</a>
  <% } %>

 <% for (let i = firstPage; i <= lastPage; i++) { %>

    <% if (i === currentPage) { %>
      <span class="currentPage"><%= i %></span>
    <% } else { %>
      <a href="/books?page=<%= i %>"><%= i %></a>
    <% } %>
  <% } %>

  <% if (currentPage < totalPages) { %>
    <a href="/books?page=<%= currentPage + 1 %>">Next ➡</a>
  <% } %>
</div>

