<link rel="stylesheet" href="/css/books.css">
<script src="/js/books.js"></script>
<h1><%= title %></h1>

<div id="searchContainer">
  <div class="filterSection">
    <span class="filterLabel">Filter by Subject:</span>
    <ul>
      <% subjects.forEach(subject => { %>
        <li class="subject">
          <button 
            class="subjectName <%= currentSubject === subject.subject %>" 
            data-subject="<%= subject.subject %>">
            <%= subject.subject %>
          </button>
        </li>
      <% }) %>
    </ul>
    <% if (currentSubject) { %>
      <a href="/books" class="clearFilter">Clear Filter</a>
    <% } %>


    <ul>
      <% authors.forEach(author => { %>
        <li class="author">
          <button 
            class="authorName <%= currentAuthor === author.author %>" 
            data-author="<%= author.author %>">
            <%= author.author %>
          </button>
        </li>
      <% }) %>
    </ul>

  </div>

  <button class="authorFilterButton">Search by Author</button>
  <button class="titleFilterButton">Search by Title</button>
</div>

<% if (!booksExist) { %>
  <div class="noBooks">
    <p>No books found for this subject.</p>
  </div>
<% } else { %>
  <ul class="bookList">
    <% books.forEach(book => { %>
      <li class="bookItem">
        <div class="bookTitle"><%= book.title %></div>
        <div class="bookAuthor">Author: <%= book.author %></div>
        <div class="bookISBN">ISBN: <%= book.isbn %></div>
        <div class="bookSubject">Subject: <%= book.subject %></div>
        <div class="bookPrice">Price: $<%= book.price %></div>
        <p>
          <% if (user) { %>
            <button id="addCartButton">Add to cart</button>
          <% } else { %>
            <p>Login to add to cart</p>
          <% } %>
        </p>
      </li>
    <% }) %>
  </ul>

    <% if (currentPage) { %>
    <p><%= currentPage %></p>
  <% } %>


  <div class="pagination">
    <% if (currentPage > 1) { %>
      <a href="/books?page=<%= currentPage - 1 %>
        <%= currentSubject ? '&subject=' + encodeURIComponent(currentSubject) : '' %>
        <%= currentAuthor ? '&author=' + encodeURIComponent(currentAuthor) : '' %>">⬅ Previous</a>
    <% } %>

    <% for (let pageNumber = firstPage; pageNumber <= lastPage; pageNumber++) { %>
      <% if (pageNumber === currentPage) { %>
        <span class="currentPage"><%= pageNumber %></span>
      <% } else { %>
        <a href="/books?page=<%= pageNumber %>
          <%= currentSubject ? '&subject=' + encodeURIComponent(currentSubject) : '' %>
          <%= currentAuthor ? '&author=' + encodeURIComponent(currentAuthor) : '' %>"><%= pageNumber %></a>
      <% } %>
    <% } %>

    <% if (currentPage < totalPages) { %>
      <a href="/books?page=<%= currentPage + 1 %>
        <%= currentSubject ? '&subject=' + encodeURIComponent(currentSubject) : '' %>
        <%= currentAuthor ? '&author=' + encodeURIComponent(currentAuthor) : '' %>">Next ➡</a>
    <% } %>
  </div>
<% } %>
