<link rel="stylesheet" href="/css/books.css">
<h1><%= title %></h1>


<div id="searchContainer">
<div class="filterSection">
    <span class="filterLabel">Filter by Subject:</span>
    <button class="subjectFilterButton" data-subject="all">All</button>
    <button class="subjectFilterButton" data-subject="Crime, Thriller & Mystery">Crime, Thriller & Mystery</button>
    <button class="subjectFilterButton" data-subject="Action & Adventure">Action & Adventure</button>
    <button class="subjectFilterButton" data-subject="Comics & Mangas">Comics & Mangas</button>
    <button class="subjectFilterButton" data-subject="Computing, Internet & Digital Media">Computing, Internet & Digital Media</button>
    <button class="subjectFilterButton" data-subject="Language, Linguistics & Writing">Comics & Mangas</button>
    <button class="subjectFilterButton" data-subject="Comics & Mangas">Comics & Mangas</button>
    <button class="subjectFilterButton" data-subject="Comics & Mangas">Comics & Mangas</button>
    <button class="subjectFilterButton" data-subject="Comics & Mangas">Comics & Mangas</button>
    <button class="subjectFilterButton" data-subject="Comics & Mangas">Comics & Mangas</button>
  </div>

<button class="authorFilterButton"></button>
<button class="titleFilterButton"></button>

<button class="itemsPerPageButton"> </button>
<button class="itemsPerPageButton"> </button>
<button class="itemsPerPageButton"> </button>
<button class="itemsPerPageButton"> </button>
<button class="itemsPerPageButton"> </button>

</div>
<ul class="bookList">
  <% books.forEach(book => { %>
    <li class="bookItem">
      <div class="bookTitle"><%= book.title %></div>
      <div class="bookAuthor">Author: <%= book.author %></div>
      <div class="bookISBN">ISBN: <%= book.isbn %></div>
      <div class="bookSubject">Subject: <%= book.subject %></div>
      <div class="bookPrice">Price: $<%= book.price %></div>
      <p>
        <% if (user) { %>
          <button id="addCartButton"> Add to cart</button>
        <% } else { %>
          <p> Login to add to cart</p>
        <% } %>
      </p>
    </li>
  <% }) %>
</ul>

<div class="pagination">
  <% if (currentPage > 1) { %>
    <a href="/books?page=<%= currentPage - 1 %>">⬅ Previous</a>
  <% } %>

 <% for (let pageNumber = firstPage; pageNumber <= lastPage; pageNumber++) { %>

    <% if (pageNumber === currentPage) { %>
      <span class="currentPage"><%= pageNumber %></span>
    <% } else { %>
      <a href="/books?page=<%= pageNumber %>"><%= pageNumber %></a>
    <% } %>
  <% } %>

  <% if (currentPage < totalPages) { %>
    <a href="/books?page=<%= currentPage + 1 %>">Next ➡</a>
  <% } %>
</div>

