<link rel="stylesheet" href="/css/books.css">
<h1><%= title %></h1>

<ul class="bookList">
  <% books.forEach(book => { %>
    <li class="bookItem">
      <div class="bookTitle"><%= book.title %></div>
      <div class="bookAuthor">Author: <%= book.author %></div>
      <div class="bookISBN">ISBN: <%= book.isbn %></div>
      <div class="bookSubject">Subject: <%= book.subject %></div>
      <div class="bookPrice">Price: $<%= book.price %></div>
    </li>
  <% }) %>
</ul>

