<h1><%= title %></h1>

<ul>
  <% books.forEach(book => { %>
    <li>
      <strong><%= book.title %></strong> by <strong><%= book.author%></strong> Subject: <%= book.subject %> Price: <%= book.price %> 
      
    </li>
  <% }) %>
</ul>
