<link rel="stylesheet" href="/css/books.css">
<script src="/js/books.js"></script>
<h1>Book Section</h1>

<div id="searchContainer">
  <div class="filterSection">
    <span class="filterLabel">Filter by Subject:</span>
    <ul>
      <% subjects.forEach(subject => { %>
        <li class="subject">
          <button 
            class="subjectName <%= currentSubject === subject.subject %>"
            data-subject="<%= subject.subject %>">
            <%= subject.subject %>
          </button>
        </li>
      <% }) %>
    </ul>
    <% if (currentSubject) { %>
      <a href="/books?<%= currentAuthor ? 'author=' + encodeURIComponent(currentAuthor) : '' %><%= currentAuthor && currentTitle ? '&' : '' %><%= currentTitle ? 'title=' + encodeURIComponent(currentTitle) : '' %>" class="clearFilter">
  Clear Subject Filter
</a>

    <% } %>


    <div class="authorSearch">
      <span class="filterLabel">Search by Author:</span>
      <form id="aSearchForm">
        <input 
          type="text" 
          id="aSearchInput" 
          name="author" 
          placeholder="Search by author" 
          value="<%= currentAuthor || '' %>"
        >
        <button type="submit">Search</button>
      </form>
      <% if (currentAuthor) { %>
        <a href="/books?<%= currentSubject ? 'subject=' + encodeURIComponent(currentSubject) : '' %><%= currentSubject && currentTitle ? '&' : '' %><%= currentTitle ? 'title=' + encodeURIComponent(currentTitle) : '' %>" class="clearFilter">
  Clear Author Filter
</a>

      <% } %>
    </div>
    
    <div class="titleSearch">
      <span class="filterLabel">Search by Title:</span>
      <form id="tSearchForm">
        <input 
        type="text" 
        id="tSearchInput" 
        name="title" 
        placeholder="Search by title" 
        value="<%= currentTitle || '' %>"
        >
        <button type="submit">Search</button>
      </form>
      <% if (currentTitle) { %>
        <a href="/books?<%= currentSubject ? 'subject=' + encodeURIComponent(currentSubject) : '' %><%= currentSubject && currentAuthor ? '&' : '' %><%= currentAuthor ? 'author=' + encodeURIComponent(currentAuthor) : '' %>" class="clearFilter">
          Clear Title Filter
        </a>
        
        <% } %>
      </div>
    </div>
  </div>
  
</div>
<% if (!booksExist) { %>
  <div class="noBooks">
    <p>No books found for this search!</p>
  </div>
<% } else { %>
  <ul class="bookList">
    <% books.forEach(book => { %>
      <li class="bookItem">
        <div class="bookTitle"><%= book.title %></div>
        <div class="bookAuthor">Author: <%= book.author %></div>
        <div class="bookISBN">ISBN: <%= book.isbn %></div>
        <div class="bookSubject">Subject: <%= book.subject %></div>
        <div class="bookPrice">Price: $<%= book.price %></div>
        <p>
          <% if (user) { %>
            <button id="addCartButton">Add to cart</button>
          <% } else { %>
            <p>Login to add to cart</p>
          <% } %>
        </p>
      </li>
    <% }) %>
  </ul>

  <% if (currentPage) { %>
    <p><%= currentPage %></p>
  <% } %>


<div class="pagination">
  <% if (currentPage > 1) { %>
    <a href="/books?page=<%= currentPage - 1 %><%= currentSubject ? '&subject=' + encodeURIComponent(currentSubject) : '' %><%= currentAuthor ? '&author=' + encodeURIComponent(currentAuthor) : '' %><%= currentTitle ? '&title=' + encodeURIComponent(currentTitle) : '' %>">
      ⬅ Previous
    </a>
  <% } %>

  <% for (let pageNumber = firstPage; pageNumber <= lastPage; pageNumber++) { %>
    <% if (pageNumber === currentPage) { %>
      <span class="currentPage"><%= pageNumber %></span>
    <% } else { %>
      <a href="/books?page=<%= pageNumber %><%= currentSubject ? '&subject=' + encodeURIComponent(currentSubject) : '' %><%= currentAuthor ? '&author=' + encodeURIComponent(currentAuthor) : '' %><%= currentTitle ? '&title=' + encodeURIComponent(currentTitle) : '' %>">
        <%= pageNumber %>
      </a>
    <% } %>
  <% } %>

  <% if (currentPage < totalPages) { %>
    <a href="/books?page=<%= currentPage + 1 %><%= currentSubject ? '&subject=' + encodeURIComponent(currentSubject) : '' %><%= currentAuthor ? '&author=' + encodeURIComponent(currentAuthor) : '' %><%= currentTitle ? '&title=' + encodeURIComponent(currentTitle) : '' %>">
      Next ➡
    </a>
  <% } %>
</div>


<% } %>
